@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

body {
  font-family: "Raleway", sans-serif;
  background-color: #f2f3f4;
}

html,
body {
  height: 100%;
}

p,
div {
  font-size: 16px;
}
